<footer>
    <div class="f-info">
        <div class="f-info-socicals">

            <!-- add facebook logo -->
            <i class="fa-brands fa-square-facebook"></i>

            <!-- add instagram logo -->
            <i class="fa-brands fa-square-instagram"></i>

            <!-- add linkdin logo -->
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-brand">&copy; Wwanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>